.skills-container {
    text-align: center;
    padding: 2rem;
    font-family: "Ubuntu", sans-serif;
}

.skills-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.skills-column {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.skills-category {
    margin-bottom: 2rem;
}

.skills-category h4 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-style: italic;
}

/* Specific CSS for Skill Images and Cards */
.skill-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3px;
}

.skill-card {
    background: #bfc8d0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 63px;
    padding: 1%;
    color: #3c3f58;
}

.skill-card p {
    margin: 0;
    font-size: 10px;
}